.buton2{
    margin-left: 40%;
    margin-right: 40%;
    padding-left: 1%;
    background-color: #22c9e6;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.film{
    display: block;
    border:3px solid rgb(137, 253, 218);
    background-color: #8ab9c2;
    text-align: center;
}

.baslik{
    text-align: center;
    color :rgb(98, 98, 186);
    font-family:'Times New Roman', Times, serif;
}

.api{
    text-align:justify;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%; 
}

.poster{
    display: block;
    border:3px solid rgb(137, 253, 218);
    background-color: #8ab9c2;
    text-align: center;
    width: 200px;
}
