* {
    margin: 0;
    padding: 0;
}
.resimSlider {
    height: 800px;
}
.hakkinda {
    display: inline-block;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 100px;
    padding-bottom: 50px;
}

.hakkinda .div1 .ayse {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: none;
    border-top: 3px solid #343a40;
    max-width: 250px;
    margin: 25px auto;
    color: black;
}