.edu {
    margin-left: 45%;
    margin-right: 45%;
    background-color: white;
    width: 10%;
}

.edu_header_figure {
    float: right;
    width: 21%;
}

.edu_main {
    clear: both;
    width: 80%
}

.edu_nav {
    width: 75%;
    float: left;
    margin-top: 50px;
    margin-left: 20px;
}

.edu_article {
    margin-left: 25px;
}

.edu_footer {
    text-align: center;
}

.sola-kaydir {
    float: left;
}

.sertifika {
    text-decoration: none;
    color: #3e587b;
}

h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p i{
    color:rgb(171, 100, 237);
}

.edu_nav h3 i{
    color:darkgoldenrod;
}

.figure :hover {
    opacity: 0.8;
}

.catalh_foto {
    width: 80%;
    position: relative;
    margin: auto;
}

.kultur {
    width: 80%;
    position: relative;
    margin: auto;
}

.catalh_tarihce {
    width: 80%;
    position: relative;
    margin: auto;
}

.catalh_harita {
    width: 600px;
    height: 450px;
    position: relative;
    margin: auto;
}
.mirasimiz_baslik {
    padding-top: 5px;
    width: 100%;
    text-align: center;
}